/* barlow-semi-condensed-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/barlow-semi-condensed-v16-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* barlow-semi-condensed-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/barlow-semi-condensed-v16-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

$size-100: calc(8 / 16 * 1rem);
$size-138: calc(11 / 16 * 1rem);
$size-162: calc(13 / 16 * 1rem);
$size-200: calc(16 / 16 * 1rem);
$size-250: calc(20 / 16 * 1rem);
$size-300: calc(24 / 16 * 1rem);
$size-400: calc(32 / 16 * 1rem);
$size-450: calc(36 / 16 * 1rem);
$size-500: calc(40 / 16 * 1rem);

$black: #121212;
$dark-blue: #19202d;
$white: #fff;
$grey-50: #f6f5f6;
$grey-100: #e7eaee;
$grey-200: #cfcfcf;
$grey-300: #a3aab4;
$grey-400: #676d7e;
$grey-500: #48556a;
$purple-50: #ede4ff;
$purple-300: #a775f1;
$purple-500: #733fc8;

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  letter-spacing: 0;
  background-color: $grey-50;
}

.text-preset-1 {
  font-size: $size-250;
  font-weight: 600;
  line-height: 1.2;
}

.text-preset-2 {
  font-size: $size-162;
  font-weight: 500;
  line-height: 1.1;
}

.text-preset-3 {
  font-size: $size-162;
  font-weight: 500;
  line-height: 1.4;
}

.text-preset-4 {
  font-size: $size-138;
  font-weight: 500;
  line-height: 1.1;
}

.bg-white {
  background-color: $white;
}

.bg-dark-blue {
  background-color: $dark-blue;
}

.bg-purple-500 {
  background-color: $purple-500;
}

.bg-grey-500 {
  background-color: $grey-500;
}

.color-white {
  color: $white;
}

.color-grey-100 {
  color: $grey-100;
}

.color-grey-200 {
  color: $grey-200;
}

.color-grey-300 {
  color: $grey-300;
}

.color-grey-400 {
  color: $grey-400;
}

.color-grey-500 {
  color: $grey-500;
}

.color-purple-50 {
  color: $purple-50;
}

.border-purple-300 {
  border: 2px solid $purple-300;
}

.border-purple-500 {
  border: 2px solid $purple-500;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $size-400;
  padding: calc(73 / 16 * 1rem) calc(35 / 16 * 1rem);

  article {
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 8px;
    padding: $size-400;

    div.header {
      display: flex;
      gap: 17px;
      margin-bottom: $size-200;

      img {
        border-radius: 50%;
      }

      h2 {
        margin-bottom: -4px;
      }
    }

    p:first-of-type {
      margin-bottom: $size-200;
    }
  }
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "article-daniel article-daniel"
      "article-jonathan article-jeanette"
      "article-patrick article-patrick"
      "article-kira article-kira";
    padding: calc(83 / 16 * 1rem) calc(61 / 16 * 1rem) calc(113 / 16 * 1rem) calc(60 / 16 * 1rem);

    .article-daniel {
      grid-area: article-daniel;
    }

    .article-jonathan {
      grid-area: article-jonathan;
    }

    .article-jeanette {
      grid-area: article-jeanette;
    }

    .article-patrick {
      grid-area: article-patrick;
    }

    .article-kira {
      grid-area: article-kira;
    }

    .background-element {
      background-image: url('../images/bg-pattern-quotation.svg');
      background-repeat: no-repeat;
      background-position-x: 69%;
    }
  }
}

@media (min-width: 1440px) {
  main {
    grid-template-columns: repeat(6, minmax(255px, 1fr));
    grid-template-areas:
    ". article-daniel article-daniel article-jonathan article-kira ."
    ". article-jeanette article-patrick article-patrick article-kira .";
    padding: calc(229 / 16 * 1rem) calc(161 / 16 * 1rem) calc(218 / 16 * 1rem) calc(165 / 16 * 1rem);

    .background-element {
      background-position-x: 86%;
    }
  }
}